/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face { font-family: ProximaNova-Light; font-weight: 300; src: url('Fonts/ProximaNova-Light.otf'); } 
@font-face { font-family: ProximaNova-Regular; font-weight: 400; src: url('Fonts/ProximaNova-Regular.otf'); }
html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
}
body{
  font-family: ProximaNova-Light;
  background: -webkit-linear-gradient(#f2f3f4, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f2f3f4, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f2f3f4, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f2f3f4, #fff); /* Standard syntax (must be last) */
}
a::selection{

  background: none;
    
}
header {
  height: 1em;
  font-size: 1.3em;
  background-color: #54abd1;
  color:#fff;
  font-family: ProximaNova-Regular;
  line-height: 2;
  padding-bottom: 1em;
}
header.open{
  margin-bottom: 24%;
}
.main-wrap{
  max-width: 960px;
  margin: 0 auto;
}
.pure-menu-link{
  text-align: right;
}
.pure-menu-link, .pure-menu-heading {
  color: #fff;
  padding:0 0.5em;
}

.pure-menu-link:hover, .pure-menu-link:focus {
  background-color: transparent;
  color: #0f4254;
}
.pure-menu-list{
  font-size: 0.7em;
}
.custom-wrapper.open .pure-menu-list{
  top: -33px;

}
@media (max-width: 40em) {

  section{
    font-size: 3vw;
  }
  .title{
    width: 80% !important;
  }

}

.logo-text {
  margin-left: 2em;
  letter-spacing: 0.2em;
}
.logo-dots-container{

}
.logo-dots{
  background: url("img/logo-dots@2x.png") no-repeat;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
  margin: 3em 0 1em 7.4em;
}
section{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  text-align: center;
  width: 100%
}
.section1{
  color: #0f4254;
  background-color: #fff;
  z-index: 3;
}
.section1 .title{
  font-size: 3.5em;
  letter-spacing: 0.1em;
}
.section2 .title{
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
.title {
  font-size: 1.5em;
  width: 66%;
  margin: 2em auto;
  
}
.section2{
  color: #fff;
  background-color: #54abd1;
}
.section3{
  color: #fff;
  background-color: #7cbcd9;
}
.section4{
  color: #fff;
  background-color: #51a7cc;
}
.section5{
  color: #fff;
  background-color: #7abad6;
}
.section6{
  color: #fff;
  background-color: #4ea3c8;
}.section7{
  color: #fff;
  background-color: #77b7d2;
}
.section8{
  color: #fff;
  background-color: #4b9fc3;
}
.section9{
  color: #0f4254;
  background-color: #f2f3f3;
}
.section10{
  background-color: #fff;
  height: 4em;
}
.button-form{
  width: 66%;
  border: 1px solid #76bfdf;
  border-radius: 6px;
  color: #76bfdf;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
